{% extends "base.html" %}
{% load static %}
    {% block title %}
    	About Us
    {% endblock %}
        <!-- Write code -->
{% block content %}

<div  class="container" style="margin-top: 20px; margin-bottom: 80px">
 <div class="rows">
 <div class="col-md-3">
 <img class="img-responsive" src="{% static 'kalyan/img/favicon.png' %}">
 </div>
 <div class="col-md-9">
 <p class = "change">
  <h3><p style = "color: white">Our team Gogreen proposed the idea of ECO RAJASTHAN and worked on it.
  This idea initially came to one of our team member when on some random day we were discussing the condition of the enviromental problems and pollution in Rajasthan.Peaple face many problems while registering their complains regarding pollution and various enviromental issues(Dumping of waste,cutting of trees,minimum plantation,avoiding rain water harvesting etc.) such as unfullfillment of govt. policies,not hearing of public complaints,and user can't track the status of their problems and complains.</p>
  <br/>
  <p style = "color: white">
  We are working with the "Bhamashah API" information to fetch the data of the citizens of "Rajasthan" who have got their Bhamashah Card.
  </p>
  <br/>
  <p style = "color: white">
  We as a team and as a citizen of this Great country really want to serve the people of this country.
  Our main aim is to make this country a Greener place and a Global heritage.
  </p>
  </h3>
	</p>
	</div>
</div>
</div>

     
{% endblock %}